<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592539113865-7m9jgke74amifag4h2c38us6hpi1l2ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592539113865-7m9jgke74amifag4h2c38us6hpi1l2ai</string>
	<key>API_KEY</key>
	<string>AIzaSyCjuI4-Zlty34qvUtJ9YicKcrV2ugZCefI</string>
	<key>GCM_SENDER_ID</key>
	<string>592539113865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todooy</string>
	<key>PROJECT_ID</key>
	<string>global-f237c</string>
	<key>STORAGE_BUCKET</key>
	<string>global-f237c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592539113865:ios:cfac2385b53d6589882958</string>
	<key>DATABASE_URL</key>
	<string>https://global-f237c.firebaseio.com</string>
</dict>
</plist>